<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>But First, Coffee</title>
    

    <link rel="icon" type="image/x-icon" href="/image/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>


<style>
    .navbar-light .navbar-nav .nav-link:hover {
      color: #FFFFCC !important;
    }

    .navbar-brand:hover {
        color: #FFFFCC !important;
    }

     /* Added styles for the container images */
     .container img {
            max-width: 100%;
            height: auto;
        }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3D2C1A;">
        <a class="navbar-brand ml-3" href="/index" style="color: #FFFFFF; font-weight: bold;"> <img src="/image/logo.png" width="30" height="30" alt="">But First, Coffee</a>
        <button class="navbar-toggler" style="background-color: #FFFFCC;"type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item mr-5">
              <a class="nav-link" href="/index" style="color: #FFFFFF; font-family: sans-serif; font-weight: bold;"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="/order" style="color: #FFFFFF; font-family: sans-serif; font-weight: bold;"><i class="fa-solid fa-cart-shopping"> </i> Order Now</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="/about" style="color: #FFFFFF; font-family: sans-serif; font-weight: bold;"><i class="fa-solid fa-circle-info"> </i> About</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="/contactus" style="color: #FFFFFF; font-family: sans-serif; font-weight: bold;"><i class="fa-solid fa-address-book"> </i> Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="reading-column">
            <br><br>
            <h1 class="page-title">About But First, Coffee</h1>
            <div class="rte"><p>Way back 2014, But First, Coffee opened its first branch at Starmall
                Alabang, Muntinlupa. Serving good quality concoctions of espresso based drinks and 
                mouth-watering food, But First, Coffee aims to provide excellent coffee and gracious
                 service creating memorable experience for people.</p>
                <!-- Adjusted image size -->
                <p><img src="https://cdn.shopify.com/s/files/1/0273/4535/4826/files/shopify_4.jpg?v=1574835215" alt="" style="max-width: 100%; height: auto;"></p>
                <!-- Content continues... -->
                <p>But First, Coffee’s signature blend is composed of 70% Arabica coffee that is 
                    imported from Brazil and 30% Robusta coffee from Sumatra. This combination 
                    gives you coffee that is very flavorful and aromatic with chocolaty and fruity 
                    notes. Many are also hooked with their best-selling drink, the Vietnamese Latte. 
                    It is made from Nguyen beans from Vietnam. These beans have rich and strong 
                    flavor that blends beautifully with sweetened milk giving you a rich and 
                    flavorful coffee with hints of chocolaty tones. To pair with these delicious 
                    beverages, But First, Coffee also serves variety of sandwiches, pasta and rice 
                    meals. Two of the most promising dishes are the Sardine Pasta and the Beef Tapa.</p>
                
                <p><img src="https://cdn.shopify.com/s/files/1/0273/4535/4826/files/shopify_3.jpg?v=1574834466" alt="" width="" height=""></p>
                <p>&nbsp;Besides the But First, Coffee’s high quality service and best tasting food and 
                    drinks, the interior of each branch is exceptional, granting them an extra edge 
                    among others. The place itself is a reason enough to drop by. Every coffee 
                    outlet of But First, Coffee is filled with flowers and greens to create a happy 
                    and vibrant mood among customers. They made use of mood lights and comfortable 
                    seating pieces to create a sense of personal space for each customer. There are
                     areas for the individuals who are just passing the time, long tables for 
                     those who may have a meeting, and comfortable sofas for groups who are just 
                     hanging out. With its extraordinary concept, their valued customers consider 
                     But First, Coffee as the most Instagram-worthy coffee shop.</p>
                
                <p><img src="https://cdn.shopify.com/s/files/1/0273/4535/4826/files/shopify_2.jpg?v=1574834236" alt="" width="" height=""></p></div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #3D2C1A;">
      
          <a class="text-light" href="https://mdbootstrap.com/">© 2020 Copyright: But First, Coffee</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>